name: Build and Upload to PyPI
on:
  release:
    types:
      - published
  push:
    tags:
      - 'v*'
    branches:
      - main

  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'xarray-contrib/cupy-xarray'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Build & inspect package
        uses: hynek/build-and-inspect-python-package@v1.3
        id: distribution

      - uses: actions/upload-artifact@v3
        with:
          name: releases
          path: ${{ steps.distribution.outputs.dist }}

  upload:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/download-artifact@v3
        with:
          name: releases
          path: dist

      - name: Check
        run: |
          ls -ltrh dist

      - name: Publish package to PyPI
        if: github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@v1.5.1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          verbose: true
